.cell {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 80px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #ccc;
	font-family: Arial, sans-serif;
	font-size: 14px;
   }
   
   .name {
	font-weight: bold;
	margin-bottom: 5px;
   }
   
   .price {
	font-size: 20px;
	margin-bottom: 5px;
	display: flex;
	gap: 2px;
	justify-content: center;
	align-items: center;
   }
   
   .change {
	display: flex;
	font-size: 12px;
	gap: 3px;
   }