.container {
  position: relative;
}
input[type='search'] {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  width: 400px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

input[type='search']:focus {
  outline: none;
  border-color: #4d90fe;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 8px #4d90fe;
}

// input[type='text']::before {
//   content: '';
//   background-image: url('../../../assets/search.png');
//   background-size: 20px;
//   background-repeat: no-repeat;
//   position: absolute;
//   top: 50%;
//   right: 10px;
//   transform: translateY(-50%);
//   width: 20px;
//   height: 20px;
// }
input[type='search']::placeholder {
  color: #97a0e2;
  text-align: center;
}
